In [3]:
#Listas
#Para criar listas usamos [] e separamos os valores por ','
lista_nomes = ['Sergio', 'Demetrius', 'Gustavo', 'Cristiana', 'Pedro', 'Vera', 'Maria', 'Cecilia','José Leoncio']
type(lista_nomes)
print(lista_nomes)

['Sergio', 'Demetrius', 'Gustavo', 'Cristiana', 'Pedro', 'Vera', 'Maria', 'Cecilia', 'José Leoncio']

In [6]:
lista_varios_tipos = [1,2,True,[4,5,6]]
type(lista_varios_tipos)
print(lista_varios_tipos)

[1, 2, True, [4, 5, 6]]

In [7]:
lista_vazia = []

In [8]:
type(lista_vazia)

list

In [9]:
print(lista_vazia)

[]

In [10]:
lista_inteiros = list([1,2,3])

In [11]:
lista_inteiros

[1, 2, 3]

In [12]:
type(lista_inteiros)

list

In [13]:
#para ver quantos elementos temos na lista usamos a função len()
len(lista_nomes)

9

In [14]:
print(len(lista_vazia))

0

In [15]:
#Acessando elementos da lista

In [16]:
#Em python a indexação começa em 0

In [17]:
lista_varios_tipos = [1,2,3,4,5, [True, False], [6,7,8,9,10]]
type(lista_varios_tipos)
print(len(lista_varios_tipos))

7

In [18]:
lista_varios_tipos[0]

1

In [19]:
lista_varios_tipos[3]

4

In [20]:
#e se quisessemos pegar o 2 elemento do quarto elemento da lista

In [30]:
lista_varios_tipos[5][1]

False

In [23]:
lista_varios_tipos[4]

5

In [ ]:
#slicing em listas

In [ ]:
lista_nomes

In [24]:
#é um intervalo abertp a direita, ou seja quando escrevemos até 2 o elemento da posição 2 não entra
lista_nomes[0:2]

['Sergio', 'Demetrius']

In [26]:
lista_nomes[:2]

['Sergio', 'Demetrius']

In [27]:
#é um intervalo fechado a a direita ou seja quando escrevemos de 1  até 3, o elemento da posição 1 não entra
lista_nomes[1:3]

['Demetrius', 'Gustavo']

In [28]:
lista_nomes[1:2]

['Demetrius']

In [31]:
lista_nomes[-1]

'José Leoncio'

In [32]:
lista_nomes[-2]

'Cecilia'

In [33]:
#escrevendo a lista de trás pra frente
lista_nomes[::-1]

['José Leoncio',
 'Cecilia',
 'Maria',
 'Vera',
 'Pedro',
 'Cristiana',
 'Gustavo',
 'Demetrius',
 'Sergio']

In [34]:
#string vs Listas

In [35]:
lista_nomes

['Sergio',
 'Demetrius',
 'Gustavo',
 'Cristiana',
 'Pedro',
 'Vera',
 'Maria',
 'Cecilia',
 'José Leoncio']

In [36]:
lista_nomes[1]

'Demetrius'

In [37]:
type(lista_nomes[1])

str

In [38]:
lista_nomes[1][0]

'D'

In [39]:
lista_nomes[1][3]

'e'

In [42]:
#listas mutaveis
lista_nomes[0] = 'Mariana'

In [43]:
lista_nomes

['Mariana',
 'Demetrius',
 'Gustavo',
 'Cristiana',
 'Pedro',
 'Vera',
 'Maria',
 'Cecilia',
 'José Leoncio']

In [44]:
#string imutaveis
x = 'Dados'

In [46]:
x[0] = 'd'

TypeError: 'str' object does not support item assignment

In [47]:
#concatenando listas

In [48]:
lista_nomes

['Mariana',
 'Demetrius',
 'Gustavo',
 'Cristiana',
 'Pedro',
 'Vera',
 'Maria',
 'Cecilia',
 'José Leoncio']

In [49]:
lista_nomes_1 = ['Fábio', 'Sabrina']
lista_nomes_1

['Fábio', 'Sabrina']

In [50]:
lista_todos_nomes = lista_nomes + lista_nomes_1
lista_todos_nomes

['Mariana',
 'Demetrius',
 'Gustavo',
 'Cristiana',
 'Pedro',
 'Vera',
 'Maria',
 'Cecilia',
 'José Leoncio',
 'Fábio',
 'Sabrina']

In [ ]:
#Funções básicas para lista

In [ ]:
# Min() nos diz o menor elemento da lista

In [51]:
min(lista_inteiros)

1

In [52]:
max(lista_inteiros)

3

In [54]:
sum(lista_inteiros)

6

In [55]:
type(lista_inteiros)

list

In [56]:
len(lista_inteiros)

3

In [57]:
len(lista_inteiros)

3

In [58]:
lista_range = list(range(0,10,1))
lista_range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [60]:
#Funções Nativas para listas

In [61]:
linguagens = ['Python', 'Java', 'SQl','R', 'Julia', 'C++']
linguagens_1 = linguagens + ['C#', 'PHP']
linguagens_1

['Python', 'Java', 'SQl', 'R', 'Julia', 'C++', 'C#', 'PHP']

In [62]:
linguagens_1.clear()

print(linguagens_1)

[]

In [63]:
#lista + tab mostra funções nativas para listas - aprenderemos mais sobre funções no final do módulo
#append adiciona elementos no final da lista

linguagens.append('Java')
linguagens.append('C++')

linguagens

['Python', 'Java', 'SQl', 'R', 'Julia', 'C++', 'Java', 'C++']

In [65]:
#extend adiciona outra lista como elementos da lista original e não como uma lista
linguagens.append(['Java', 'C#'])
linguagens

['Python', 'Java', 'SQl', 'R', 'Julia', 'C++', 'Java', 'C++', ['Java', 'C#']]

In [67]:
#insert adiciona elementos em posições especificas da lista
linguagens.insert(1, 'Scala')
linguagens

['Python',
 'Scala',
 'Scala',
 'Java',
 'SQl',
 'R',
 'Julia',
 'C++',
 'Java',
 'C++',
 ['Java', 'C#']]

In [68]:
#remove deleta o primeiro elemento encontrado na lista com esse nome
linguagens.remove('C++')

In [69]:
linguagens

['Python',
 'Scala',
 'Scala',
 'Java',
 'SQl',
 'R',
 'Julia',
 'Java',
 'C++',
 ['Java', 'C#']]

In [70]:
#pop remove os elementos usando indice
linguagens.pop(len(linguagens)-3)

'Java'

In [71]:
linguagens

['Python',
 'Scala',
 'Scala',
 'Java',
 'SQl',
 'R',
 'Julia',
 'C++',
 ['Java', 'C#']]

In [72]:
linguagens.pop(2)

print(linguagens)

['Python', 'Scala', 'Java', 'SQl', 'R', 'Julia', 'C++', ['Java', 'C#']]

In [74]:
#count conta quantidade de elementos na lista
linguagens.count('Java')

1

In [75]:
#sort ordena os elementos da lista(se for string, por ordem alfabetica)
lista_nomes.sort()
lista_range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]