In [1]:
#Sqlite é uma bibliotec que implementa um banco de dados Sql Embutido
import sqlite3

In [3]:
#Criando um banco de dados e estabelecendo uma conexão com ele:

conn = sqlite3.connect('Primeiro_banco_de_dados.db')

print(conn)

<sqlite3.Connection object at 0x7f667efe4300>

In [4]:
#cursos: é atraves dessa variavel que criamos tabelas, informamos registro e fazemos as queries de operaçõe no banco
cursor = conn.cursor()

In [ ]:
# importante: nos bancos de dados relacionais salvamos os dados em tabela. Essas tabelas possuem atributos(colunas)
# e os registros(linhas). No caso de DB's relacionais nós definimos as tabelas e os tipos de dados previamente.
# Lembrem que os bancos não relacionais é diferente, nos não relacionais não precisamos fazer isso.
# Create table: Comando usado para criar tabelas
# CREATE TABLE nome_tabela(coluna1 tipo, coluna2 tipo, etc);
#geralmente usamos letras maiusculas para escrever comandos em linguagem SQL;

In [5]:
#criando nossa primeira tabela. o metodo execute recebe uma query sql e a executa;
cursor.execute("CREATE TABLE cadastro_cliente (user_id integer, nome text, idade integer, cidade text, email text)")

In [6]:
# usamos essa query para ver quais as tabelas estão no banco 
cursor.execute("SELECT name from sqlite_master where type = 'table'")

#o comando fetchall é responsavel por apresentar o resultado da query
cursor.fetchall()

[('cadastro_cliente',)]

In [ ]:
Select: usamos esse comando para selecionar dados na tabela

In [8]:
#vamos ver o que temos na tabela
# * == ALL: seleciona todos os campos (atributos e colunas da tabela)

cursor.execute("SELECT * FROM cadastro_cliente")
cursor.fetchall()

[]

In [ ]:
INSERT INTO: Usado para inserir registros em uma tabela

os dados do tipo text precisam estar com aspas como as strings que aprendemos aqui em python e tem que ser aspas 
simples, porque quando estamos usando aspas duplas para a query, se não o python faz confusão.

In [9]:
#Precisamo dizer em qual tabela e tambem escrever no formato de dados previsto quando criamos a tabela:

cursor.execute("INSERT INTO cadastro_cliente VALUES(123, 'Maria', 40, 'São Paulo', 'maria@gmail.com')")
conn.commit()

#commit é um comando usado no git voce deu um comando ali em cima para alterar a tabela e o commit é pra de fato
#guardarmos a informação nno banco

In [10]:
#verificando se a nossa tabela foi de fato alterada:
cursor.execute("SELECT * FROM cadastro_cliente")
cursor.fetchall()

[(123, 'Maria', 40, 'São Paulo', 'maria@gmail.com')]

In [11]:
#selecionando dois campos nome e idade:

cursor.execute('SELECT nome, idade FROM cadastro_cliente')
cursor.fetchall()

[('Maria', 40)]

In [13]:
#Vamos novamente agora vamos inserir 2 regsitros

cursor.execute("INSERT INTO cadastro_cliente VALUES(456, 'Pedro', 22, 'Rio de Janeiro', 'pedrinho@gmail.com')")
cursor.execute("INSERT INTO cadastro_cliente VALUES(789, 'João', 35, 'São Paulo', 'joaojoao@gmail.com')")
cursor.execute("INSERT INTO cadastro_cliente VALUES(901, 'Paulo', 56, 'Belo Horizonte', 'paulo123@gmai.com')")
conn.commit()

In [14]:
#vizualindo todos os nosso registros

cursor.execute("SELECT * FROM cadastro_cliente")
cursor.fetchall()

[(123, 'Maria', 40, 'São Paulo', 'maria@gmail.com'),
 (456, 'Pedro', 22, 'Rio de Janeiro', 'pedrinho@gmail.com'),
 (789, 'João', 35, 'São Paulo', 'joaojoao@gmail.com'),
 (901, 'Paulo', 56, 'Belo Horizonte', 'paulo123@gmai.com'),
 (456, 'Pedro', 22, 'Rio de Janeiro', 'pedrinho@gmail.com'),
 (789, 'João', 35, 'São Paulo', 'joaojoao@gmail.com'),
 (901, 'Paulo', 56, 'Belo Horizonte', 'paulo123@gmai.com')]

In [ ]:
select distinct: esse comando é usado para retornar apenas valores distintos
    SELECT DISTINCT coluna1, coluna2, ... FROM nome_tabela;

In [15]:
cursor.execute("SELECT cidade FROM cadastro_cliente")
cursor.fetchall()

[('São Paulo',),
 ('Rio de Janeiro',),
 ('São Paulo',),
 ('Belo Horizonte',),
 ('Rio de Janeiro',),
 ('São Paulo',),
 ('Belo Horizonte',)]

In [16]:
cursor.execute("SELECT DISTINCT cidade FROM cadastro_cliente")
cursor.fetchall()

[('São Paulo',), ('Rio de Janeiro',), ('Belo Horizonte',)]

In [ ]:
SELECT WHERE: Seleciona dados de acordo com alguma condição. Usada para filtrar registros
    select coluna1, coluna2, ... FROM nome_tabela WHERE condicao_verdadeira

In [17]:
cursor.execute("SELECT * FROM cadastro_cliente WHERE nome = 'Maria'")
cursor.fetchall()

[(123, 'Maria', 40, 'São Paulo', 'maria@gmail.com')]

In [ ]:
select order by: seleciona dados ordenando em ordem crescente ou decrescente os dados de acordo com os valores de
uma coluna especifica
SELECT coluna1, coluna2 ... from nome_tabela ORDER BY coluna1, coluna2... DESC/ASC

In [18]:
cursor.execute("SELECT nome, idade FROM cadastro_cliente ORDER BY idade DESC")
cursor.fetchall()

[('Paulo', 56),
 ('Paulo', 56),
 ('Maria', 40),
 ('João', 35),
 ('João', 35),
 ('Pedro', 22),
 ('Pedro', 22)]

In [19]:
cursor.execute("SELECT nome, idade FROM cadastro_cliente ORDER BY idade DESC, user_id ASC")
cursor.fetchall()

[('Paulo', 56),
 ('Paulo', 56),
 ('Maria', 40),
 ('João', 35),
 ('João', 35),
 ('Pedro', 22),
 ('Pedro', 22)]

In [ ]:
Selcet group by: seleciona dados agrupados por uma(+ de uma) coluna(s) especifica(s)
    
    select coluna1, coluna2... from nome_tabela GROUP BY coluna1...

In [20]:
cursor.execute("SELECT COUNT(user_id), cidade FROM cadastro_cliente GROUP BY cidade")
cursor.fetchall()

[(2, 'Belo Horizonte'), (2, 'Rio de Janeiro'), (3, 'São Paulo')]

In [22]:
#podemos fazer consultas mais complexas como por exemplo:

cursor.execute("SELECT COUNT(user_id), cidade FROM cadastro_cliente GROUP BY cidade ORDER BY COUNT(user_id) DESC")
cursor.fetchall()

[(3, 'São Paulo'), (2, 'Rio de Janeiro'), (2, 'Belo Horizonte')]

In [23]:
#criando outra tabela
cursor.execute("CREATE TABLE compras_cliente(user_id integer, qtd_produtos integer, \
                valor_compra decimal, local_compra text)")

In [25]:
cursor.execute("INSERT INTO compras_cliente VALUES(123, 3, 150.70, 'Loja1')")
cursor.execute("INSERT INTO compras_cliente VALUES(456, 1, 20.35, 'Loja2')")
cursor.execute("INSERT INTO compras_cliente VALUES(789, 6, 437, 'Loja3')")
conn.commit()

In [29]:
cursor.execute("SELECT * FROM compras_cliente")
cursor.fetchall()

[(123, 3, 150.7, 'Loja1'), (456, 1, 20.35, 'Loja2'), (789, 6, 437, 'Loja3')]

In [ ]:
SELECT COUNT/AVG/SUM:
COUNT: Retorna o numero de valores de uma determinada coluna
AVG: Retorna a média dos valores de uma determinada coluna
Sum: Retorma a soma dos valores de uma determinada coluna 
    SELECT COUNT/AVG/SUM(nome_cliente) FROM nome_tabela

In [30]:
#quantos usuarios fizeram compras
cursor.execute("SELECT COUNT(user_id) FROM compras_cliente")
cursor.fetchall()

[(3,)]

In [32]:
#quantos usuarios fizeram compras na loja 1
cursor.execute("SELECT COUNT(user_id) FROM compras_cliente WHERE local_compra == 'Loja1'")
cursor.fetchall()

[(1,)]

In [33]:
#qual foi o valor médio de gasto de cada usuario
cursor.execute("SELECT AVG(valor_compra) FROM compras_cliente")
cursor.fetchall()

[(202.6833333333333,)]

In [34]:
#qual foi o total gasto pelos usuarios

cursor.execute("SELECT SUM(valor_compra) FROM compras_cliente")
cursor.fetchall()

[(608.05,)]

In [ ]:
#podemos fazer apenas o primeiro join por exemplo, pra ficar mais claro para voçes o que ele faz:

In [36]:
cursor.execute("SELECT cc.user_id, cc.nome, cc.idade, ccli.valor_compra FROM cadastro_cliente as cc LEFT JOIN \
                compras_cliente as ccli ON cc.user_id == ccli.user_id")
cursor.fetchall()

[(123, 'Maria', 40, 150.7),
 (456, 'Pedro', 22, 20.35),
 (789, 'João', 35, 437),
 (901, 'Paulo', 56, None),
 (456, 'Pedro', 22, 20.35),
 (789, 'João', 35, 437),
 (901, 'Paulo', 56, None)]

In [38]:
#respomdendo nossa pergunta ali de cima: precisamos primerio pegar todas as cidades, então vamos usar a tabela
#cadastro_cliente e cruzar ela com a tabela de compras para termos o gasto dos clientes também

#A chave/coluna que relaciona essas tabelas é a coluna user_id:

cursor.execute("SELECT AVG('valor_compra') as valor_medio, cidade FROM cadastro_cliente\
                LEFT JOIN compras_cliente\
                ON cadastro_cliente.user_id == compras_cliente.user_id\
                GROUP BY cidade\
                ORDER BY valor_medio DESC")
cursor.fetchall()

[(0.0, 'São Paulo'), (0.0, 'Rio de Janeiro'), (0.0, 'Belo Horizonte')]

In [40]:
#vejam agora a diferença com o inner join:
cursor.execute("SELECT cc.user_id, cc.nome , cc.cidade,ccli.valor_compra FROM cadastro_cliente as cc INNER JOIN \
                compras_cliente as ccli ON cc.user_id == ccli.user_id")
cursor.fetchall()

[(123, 'Maria', 'São Paulo', 150.7),
 (456, 'Pedro', 'Rio de Janeiro', 20.35),
 (789, 'João', 'São Paulo', 437),
 (456, 'Pedro', 'Rio de Janeiro', 20.35),
 (789, 'João', 'São Paulo', 437)]